@model IEnumerable<WebApplication3.Models.Ticket>


    <p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.MatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatId)
            </th>
          
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Matches.MatchName
                </td>
                <td>
                    @item.Seats.SeatNo
                </td>
               
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-controller="Tickets" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Tickets" asp-route-id="@item.Id">Delete</a>

                    @*  @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PrimaryKey  })*@
                </td>
            </tr>
        }
    </tbody>
</table>

